body {
    background-color: rgba(0, 0, 0, 0.8); 
    height:100%;
}

#mainbox {
    margin-left:35%;
    margin-top:10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:60%
}
li {
    display: inline;
    font-size: 140%;
    font-family: "Lucida Console";
    
}

a {
    text-decoration: none;
    color: white;
}


#meny {
    margin-top: 2%;
    margin-left:33%;
}

.mainmenu {
    margin-left:3%;
}
#meny li:hover  {
    background-color: green;
}


#socialmedia img {
    width:14%; 
    height: 10%;
}

#socialmedia {
    margin-top: 10%;
    margin-left: 36%;
}
#socialmedia li:hover {
    background-color: green;
}
#maininfo {
    font-family: "Lucida Console";
    margin-left: 30%;
    margin-top: 5%;
    height: 15%;
}

h1 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
}
